body {
  margin: 0;
  padding: 0;
  font-family: "Segoe UI", sans-serif;
  /* background: linear-gradient(to left, #6146eaf3, #5a55ae); */
  background: linear-gradient(to right, #5d7b93, #6d8ba3);
  color: white;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.public-wall-title {
  font-size: 2rem;
  margin-bottom: 20px;
  text-align: center;
  font-weight: bold;
  text-transform: uppercase;
  letter-spacing: 1px;
}
.capsules-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 20px;
  padding: 20px;
  max-width: 1520px;
}

.capsule-card {
  flex: 0 0 300px;
  background: #f9f9f9;
  border: 1px solid #ddd;
  border-radius: 10px;
  padding: 16px;
  box-shadow: 2px 2px 6px rgba(0, 0, 0, 0.05);
  transition: transform 0.3s ease;
  text-align: left;
  min-height: 100px;
}

.capsule-card:hover {
  transform: translateY(-3px);
}

.capsule-card h3 {
  margin: 0 0 10px;
  font-size: 1.2rem;
  color: #222;
}

.capsule-card p {
  margin: 6px 0;
  color: #444;
  font-size: 0.95rem;
}
.capsule-photo {
  max-height: 150px;
  width: auto;
  object-fit: contain;
  margin-top: 10px;
  max-width: 100%;

  object-fit: cover;
  width: auto;
  height: auto;
  border-radius: 8px;
  margin-bottom: 1rem;
}
