label {
  display: block;
  width: 100%;
  margin-top: 10px;
  margin-bottom: 5px;
  text-align: left;
  color: #555;
  font-weight: bold;
}

input {
  display: block;
  width: 100%;
  margin-bottom: 15px;
  padding: 10px;
  box-sizing: border-box;
  border: 1px solid #ddd;
  border-radius: 5px;
}

button {
  padding: 15px;
  border-radius: 10px;
  margin-top: 15px;
  margin-bottom: 15px;
  border: none;
  color: white;
  cursor: pointer;
  background-color: #e67e22;
  width: 100%;
  font-size: 16px;
}

.wrap {
  display: flex;
  justify-content: center;
  align-items: center;
}

.card-container {
  width: 320px;
  background: #f9f9f9f3;
  border: 1px solid #ddd;
  border-radius: 10px;
  padding: 20px;
  box-shadow: 2px 2px 10px rgba(0, 0, 0, 0.1);
  transition: transform 0.2s ease;
}
.page-wrapper {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

p {
  margin: auto;
  padding: 1px;
  font-size: 1;
  color: black;
}
.error-text {
  color: red;
  font-size: 0.9rem;
  margin: 5px;
}
